# ============================
# Model checkpoints
# ============================
*.pth
*.pt

# ============================
# Dataset downloads
# ============================
data/
datasets/

# ============================
# Python artifacts
# ============================
__pycache__/
*.pyc

# ============================
# Jupyter
# ============================
.ipynb_checkpoints/
